#deck-cards-area {
  margin-left: 169.5px;
  margin-top: 0.5px;
  display: inline-flex;
}
#deck-cards-area svg {
  margin-left: -169.5px;
  /* margin-top: -225px; */
}
#deck-cards-area div {
  height: 0.5px;
}
#playing-area #played-cards-area {
  display: inline-block;
  width: 70%;
}
#playing-area #deck-area {
  display: flex; 
  justify-content: flex-end;
}
#deck-area {
  display: flex;
}
